.DS_Store
target/
classes/
checkouts/
pom.xml
pom.xml.asc
*.jar
*.class
.lein-*
.nrepl-port
.settings/
.project
.classpath
.idea/
*.iml
*.ipr
*.iws
repl/
repl-resources/
profiles.clj

/chat-demo/resources/public/cljs