<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="R" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{ISO8601} %-5p [%c] - %m%n</pattern>
		</encoder>
	</appender>

	<!-- these are just to remove some "chatty" logging output, especially for DEBUG and lower.
	     you don't necessarily need this yourself -->
	<logger name="org.eclipse.jetty" level="INFO"/>
	<logger name="org.xnio" level="INFO"/>
	<logger name="io.undertow" level="INFO"/>

	<root level="${ROOT_LEVEL:-INFO}">
		<appender-ref ref="R"/>
	</root>
</configuration>
